// Rofi colors for Pamela

* {
    font: "Terminess Nerd Font Mono Bold 10";
    background: #1D1F28;
    bg-alt: #1F222B;
    background-alt: #1D1F28E0;
    foreground: #FDFDFD;
    selected: #556FFF;
    active: #18E3C8;
    urgent: #FF4971;

    img-background: url("~/.config/bspwm/rices/pamela/rofi.webp", width);
}
